img {
    width: 30%;  
    margin: calc(10%/6);
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  }
  
  
 nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin: calc(10%/6);
    padding: 1% 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    padding: 1.2em 0;
 }

 /* Disable grayscale on hover */
img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
  }